{% extends 'main/layout.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="features">
    <h1>Про нас</h1>
    <p>Ещё раз привет! На этом сайте ты можешь ознакомиться о самых свежих новостях о программировании! 
        Будь уверен, наши новости всегда актуальны, так как мы давно следим за миром программирования! Прямиком с 2004 года. Так что дерзай, кнопка внизу:</p>
    <a href="{% url 'news_home' %}"><li><button class="btn btn-info"><i class=""></i> На страницу новостей</button></li></a>
</div>
{% endblock %}